@using bank_data_web_models
@model IEnumerable<Transaction>

@{
	Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
}

<div class="container-fluid p-0">

	<h1 class="h3 mb-3 text-center">
		Transactions of @(Model.FirstOrDefault() != null && !String.IsNullOrEmpty(Model.FirstOrDefault().Account.AccountNumber) ? Model.FirstOrDefault().Account.AccountNumber: "")
	</h1>

	<div class="row">
		<div class="col-12 col-lg-12 col-xxl-12">
			<div class="card flex-fill">
				<div class="card-header">

					<h5 class="card-title mb-0">
						Transactions of @(Model.FirstOrDefault() != null && !String.IsNullOrEmpty(Model.FirstOrDefault().Account.AccountNumber) ? Model.FirstOrDefault().Account.AccountNumber : "")
					</h5>
				</div>
				<table class="table table-hover my-0">
					<thead>
						<tr>
							<th>Account</th>
							<th>Amount</th>
							<th class="d-none d-xl-table-cell">Transaction Date</th>
							<th>Transaction Type</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						
						@foreach(var transaction in Model){
							<tr>
								<td>@transaction.Account.AccountNumber</td>
								@if (transaction.TransactionTypeEnum == TransactionTypeEnum.Deposit)
								{
									<td><span class="badge bg-success">@transaction.Amount</span></td>
								}
								else if (transaction.TransactionTypeEnum == TransactionTypeEnum.Withdrawal)
								{
									<td><span class="badge bg-danger">@transaction.Amount</span></td>
								}else{
									<td><span class="badge bg-primary">@transaction.Amount</span></td>
								}
								<td class="d-none d-xl-table-cell">@transaction.TransactionDate</td>
								<td><span class="badge bg-success">@transaction.TransactionTypeEnum</span></td>
								<td class="d-none d-md-table-cell">@transaction.Description</td>
							</tr>
						}

					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

@section Scripts {

}